<div class="container mt-3">
  <h2>Storylines</h2>
</div>

<% @storylines.each do |storyline| %>
<% storyline.title %>
<% storyline.district %>
<% storyline.duration %>
<% storyline.distance %>
<% storyline.theme %>
<% storyline.difficulty %>
<% storyline.shortdescription %>

<% end %>
