// Define variables for your color scheme

// For example:
$red: #F2695C;
$blue: #307CBF;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #63806A;
$gray: #0E0000;
$light-gray: #F4F4F4;

// $yellow: #FFD023;
$pastel-red: #FCDBEF;
$pastel-blue: #E1E9FF;
$beige: #F6EBE2;
$gold: #c4ae59;
$navy: #1d2b48;
$lightgold: #EAE5D4;
$darkwhite: #FBFCFA;
$lightblack: rgba(0, 0, 0, 0.90);
