.title-home {
  text-align: center;
}


.title-home h1 {
  font-size: 150px;
  font-weight: 900;
  letter-spacing: 4px;
  color: $navy;
  margin-bottom: 23px;
  position: relative;
  display: inline-block;
  margin-right: -20px;
  transform: scaleY(2);
  margin-top: 80px;
}

.waviy {
  position: relative;
  font-family: Nova Square;
  letter-spacing: -5px;
  color: $navy;
  text-transform: uppercase;
}
.waviy h2 {
  font-size: 60px;
  font-weight: 350;
  position: relative;
  display: inline-block;
  animation: flip 2s infinite;
  // animation-iteration-count: 3;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg)
  }
}

.col-6 {
  width: 80%;
  margin-top: 200px;
}

.home-container {
  background-color: #F4F4F4;
}
