.lobby-players-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.lobby-player {
  display: flex;
  background-color: $pastel-blue;
  justify-content: space-between;
  border-radius: 4px;
  padding: 0 4px;
  width: 90%;
  margin: auto;
  height: 75px;
  box-shadow: 0 0 5px black;
}

.lobby-avatar {
  width: 75px;
  height: 75px;
}

.lobby-player-name {
  font-size: 18px;
  font-weight: 500;
}

.lobby-qrcode {
  width: 100%;
  max-width: 250px;
  height: 250px;
  margin: auto;
  background-image: url("qrcode.png");
  background-position: center;
  background-size:cover;
  ;
}

.delete-player-btn {
  color: $red;
}

.lobby-title {
  font-size: 32px;
  font-weight: 500;
}

.lobby-pin {
  font-size: 22px;
  font-weight: 600;
}
