.lobby-players {
  display: flex;
  background-color: $pastel-blue;
  justify-content: space-between;
  border-radius: 4px;
  padding: 0 4px;
  width: 100%;
}

.lobby-player-name {
  font-size: 18px;
  font-weight: 500;
}

.lobby-qrcode {
  width: 100%;
  max-width: 250px;
  height: 250px;
  background-color: $blue;
  margin: auto;
}

.delete-player-btn {
  color: $red;
}

.lobby-title {
  font-size: 32px;
  font-weight: 500;
}

.lobby-pin {
  font-size: 22px;
  font-weight: 600;
}
