.lobby-players-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0 auto;
}

.lobby-player {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.lobby-player-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lobby-player-infos-row {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 5px;
}

.lobby-player-name {
  font-size: 18px;
  font-weight: 500;
}

.lobby-qrcode {
  width: 100%;
  max-width: 250px;
  height: 250px;
  background-color: $blue;
  margin: auto;
}

.delete-player-btn {
  color: $gold;
  text-align: center;

}

.lobby-title {
  font-size: 32px;
  font-weight: 500;
  margin-top: 30px;
  text-align: center;
}

.lobby-pin {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.lobby-launch {
  margin-top: 150px;
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
