<ul class="dropdown-menu">
  <li><a class="dropdown-item" href="#">Mon Profil</a></li>
  <li><a class="dropdown-item" href="#">Code de la partie</a></li>
  <li><a class="dropdown-item" href="#">Quitter</a></li>
</ul>
