<div class="transform d-flex" data-swipe-map-target="swipe">
  <div id="map" style="width: 100vw; height: <%= controller_name == 'storylines' ? '200px' : '100vh' %>;"
  data-<%= controller_name == 'storylines' ? "storyline-show" : "game" %>-target="map">
    <!-- L'élément de la carte doit être vide ici -->
  </div>
</div>
