<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>HELLO FROM CITY HUNTERS</p>

<%= link_to storylines_path do %>
  <button class="btn btn-danger">CREATE A GAME</button>
<% end %>
