
<div class="container">

<div class="title-home">
    <h1>C</h1><h1>ITY</h1>
  <div class="waviy text-center">

    <h2 style="--i:1">H</h2>
    <h2 style="--i:2">u</h2>
    <h2 style="--i:3">n</h2>
    <h2 style="--i:4">t</h2>
    <h2 style="--i:5">e</h2>
    <h2 style="--i:6">r</h2>
    <h2 style="--i:7">s</h2>
  </div>
</div>

  <div class="justify-content-center mt-5">
    <div class="d-grid gap-3 col-6 mx-auto">
      <%= link_to "Créer une partie", storylines_path, class:"btn-home v2" %>
      <%= link_to "Rejoindre une partie", join_game_path, class:"btn-home v2" %>
    </div>

    <button class="btn-ugly">Éditer un scénario</button>
  </div>
</div>
