<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>HELLO FROM CITY HUNTERS</p>
<form action="/storylines/1/games" method="POST">
  <button class="btn btn-danger">Create game lobby</button>
</form>
