<% @users.each do |user| %>
  <div class="lobby-players mt-2">
    <div class="d-flex">
      <% if user.photo.attached? %>
        <%= cl_image_tag(user.photo.key, class:'avatar') %>
      <% else %>
        <img src="https://cdn2.iconfinder.com/data/icons/instagram-outline/19/11-1024.png" alt="user-picture" class="avatar">
      <% end %>
      <p class="lobby-player-name"><%= user.name %></p>
    </div>
    <div class="d-flex align-items-end">
      <a href="#" class="delete-player-btn">delete</a>
    </div>
  </div>
<% end %>
