<% @users.each do |user| %>
  <div class="lobby-player-center">
    <% if user.photo.attached? %>
      <%= cl_image_tag(user.photo.key, class:'avatar-large') %>
    <% else %>
      <img src="https://i.ibb.co/PFHbc3Z/profilephoto.png" alt="user-picture" class="avatar-large">
    <% end %>
    <div class="lobby-player-infos-row">
    <p class="lobby-player-name mb-0"><%= small_caps_text(user.name.downcase) %></p>
    <a href="#" class="delete-player-btn"><i class="fa-solid fa-xmark"></i></a>
    </div>
  </div>
<% end %>
