<% @users.each do |user| %>
  <div class="lobby-player">
    <div class="lobby-player-center">
      <% if user.photo.attached? %>
        <%= cl_image_tag(user.photo.key, class:'avatar-large') %>
      <% else %>
        <img src="https://cdn2.iconfinder.com/data/icons/instagram-outline/19/11-1024.png" alt="user-picture" class="avatar-large">
      <% end %>
      <div class="lobby-player-infos-row">
      <p class="lobby-player-name mb-0"><%= user.name.capitalize %></p>
      <a href="#" class="delete-player-btn"><i class="fa-solid fa-xmark"></i></a>
      </div>
    </div>
  </div>
<% end %>
