<div class="container">
  <h1>@storyline_title</h1>
  <h2>PIN: <%= @game.pin %></h2>

  <div class="mt-5">
    <div class="player">
      <%#= cl_image_tag(@user.) %>
      <%#= user.name %>
      <%# <a href="#" class="btn btn-danger"></a> %>
    </div>
  </div>

  <button class="btn btn-primary">Lancer la partie</button>
</div>
