<div class="container">
  <%= link_to root_path do %>
  <h1>Erreur 500 - Erreur serveur interne</h1>
  <p>Une erreur interne du serveur s'est produite. Nous nous excusons pour les désagréments.</p>
  <% end %>
</div>
