<div class="container">
  <%= link_to root_path do %>
  <h1>Erreur 422 - Entité non traitable</h1>
  <p>La demande était correcte, mais le serveur a refusé de la traiter. Veuillez réessayer plus tard.</p>
  <% end %>
</div>
