.pages-backscreen {
  background-image: url(background-pages.png);
  background-size: cover;
  background-repeat: no-repeat;
  // background-attachment: fixed;
}

.background-top-title {
  min-height: 16vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(header-top.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  color: $white;
  font-weight: 900;
}

.background-lobby-top-title {
  margin-bottom: 70px;
}

.background-top-title h1 {
  font-size: 26px;
  color: white;
  margin-top: 30px;
}
