
.btn-home-all {
margin-top: 250px;
max-width: 300px;
margin: 250px auto 0;
}

.btn-home-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.btn-home {
  color: $darkwhite;
  font-family: Nova Square;
  clip-path: polygon(7% 1%, 0% 22%, 0% 95%, 7% 100%, 100% 95%, 100% 7%, 69% 0%, 58% 3%);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  font-size: 22px;
  padding: 12px 20px;
  width: 300px;
  height: 70px;
  background: $navy !important;
  text-decoration: none;
}

.btn-home:active{
  background-color: $gold;
  color: $darkwhite;
  border: 4px solide $darkwhite;

}


.btn-ugly{
  clip-path: polygon(1% 34%, 4% 10%, 17% 3%, 38% 1%, 68% 4%, 96% 0%, 100% 27%, 99% 71%, 92% 99%, 55% 90%, 23% 100%, 1% 95%);
  color: $darkwhite;
  background-color: $navy;
  font-family: Nova Square;
  border-radius: 10px;
  font-size: 16px;
  padding: 12px 20px;
  margin-top: 10px;
  float: right;
  width: 200px;
}

.btn-ugly:active{
  background-color: #313b4f;
}
