/* Styles pour les ordinateurs de bureau */
@media only screen and (min-width: 768px) {
  .my-custom-class {
    margin: 0 auto !important;
    width: 100% !important;
    max-width: 390px !important;
    height: 100% !important;
    max-height: 844px !important;
  }
}
