/* Si la largeur de l'écran est supérieure à 390px */
@media only screen and (min-width: 391px) {
  .my-custom-class {
    width: 100% !important;
    max-width: 390px !important;
    margin: 0 auto !important;
  }
}
