.regroup {
  width: 100%;
  height: 100%;
  transform: rotate(-0.5deg);
  margin-bottom: 12px;
}

.regroup-reverse {
  width: 100%;
  height: 100%;
  transform: rotate(1deg);
  margin-bottom: 12px;
}

.folder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  gap: 20px;
  margin-bottom: -40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 50px;
  flex-wrap: wrap;
}

.folder-show {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  gap: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: $darkwhite;
  border-top-right-radius: 5px;
}

.folder-endgame {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: $darkwhite;
  border-radius: 5px;
}

.folder-pair {
  background-color: $darkwhite;
  border-top-right-radius: 5px;
}

.folder-odd {
  background-color: $lightgold;
  flex-direction: row-reverse;
  border-top-left-radius: 5px;
}

.pair {
  float: left;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 8px;
  margin-bottom: -1px;
  background-color: $darkwhite;

}

.odd {
  float: right;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 8px;
  margin-bottom: -1px;
  background-color: $lightgold;
}

// images pour les cards storylines

.storylines-img {
  width: 50vw;
  height: 170px;
  object-fit: cover;
}

// images pour les autres pages en full largeur
.photos-img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

.folder-info {
  padding: 10px;
  box-sizing: border-box;
  flex: 1;
  width: 100%;
}

.folder-icons {
  font-size: 16px;
}

// .icons-inline {
//   display: flex;
//   gap: 20px;
// }

.storyline-title, .show-title {
  width: auto;
  text-align: center;
  margin: 0px 10px;
  padding: 10px 10px;
  border-bottom: 1px dashed $lightblack;
}

.photo-parent-rating {
  position: relative;
  max-width: 100%;
  flex-grow: 2;
  flex-basis: 0
}

.rating-child-position {
  position: absolute;
  top: 10px;
  right: 10px;
}

.rating-child-position .fa-star {
  font-size: 14px;
  color: $white;
}

.folder-pair .folder-info {
  display: flex;
  justify-content: flex-end; /* Aligner à droite tout en maintenant aligné à gauche */
  margin-left: auto; /* Ajout de cette ligne pour aligner à droite */
}

.folder-pair .folder-info-end {
  text-align: left; /* Aligner à droite tout en maintenant aligné à gauche */
}
