.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Work Sans", "Helvetica", "sans-serif";
}

.map-storyline-show {
    // height: 250px;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
  }

.map-position {
  height: 100%;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

.map-position img {
  max-width: 100%; /* Ajoutez cette règle pour limiter la largeur de l'image générée par Mapbox */
}

.transform {
  width: 100vw;
}

.rectangle-swipe {
  border-radius: 15px;
  width: 60px;
  height: 20vh;
  z-index: 1000;
  background-color: $navy;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 33%;
  margin-left: 400px;
}

.rectangle-swipe p {
  color: white;
  writing-mode: vertical-lr;
  margin-left: -14px;
  text-orientation: upright;
  letter-spacing: 8px;
}

.font-police {
  margin-right: -15px;
}


.sticky {
  position: fixed;
  /* Add any additional styles you need for the sticky state */
}
