
.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  margin: 0px 20px;
}

.arrow-menu img {
  width: 50px;
  margin-top: -5px;
}

.fa-bars {
  font-size: 40px;
  margin-top: -10px;
  color: $darkwhite;
}

.dropdown-menu {
  background-color: $darkwhite;
}

.burger-menu {
  position: fixed;
  align-items: end;
  left: 80vw;
  z-index: 1000;
  margin-top: 10px;
}
