#myModal {
  height: 80%;
  width: 97%;
  margin: auto;
  margin-top: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#myModal .btn-home {
  margin: auto;
  display: block;
}

.riddles-container {
  position: relative;
}

.modal-content {
  clip-path: polygon(95% 0%, 100% 5%, 100% 95%, 95% 99%, 5% 100%, 0% 96%, 0% 5%, 6% 0%);
  background: linear-gradient(15deg, rgba(168, 148, 105, 0.77) -6.41%, rgba(168, 155, 105, 0.06) 99.53%), #FBFCFA;
  filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.05));
  border: none;
}

.modal-header {
  border: none;
}

.modal-footer {
  display: flex;
  border: none;
}

.modal-body {
  border: none;
}

.modal {
  border: none;
}

//fill: linear-gradient(180deg, rgba(29, 43, 72, 0.77) -27.65%, rgba(29, 43, 72, 0.00) 68.32%), #FBFCFA;
//filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.05));
