  <div class="mt-3">
    <p><%= riddle.question %></p>
  </div>
  <div class='d-flex justify-content-center' data-controller="answer-modal">
    <button class="btn btn-primary" data-action="click->answer-modal#openModal" >Répondre</button>
     <%= render "answer_modal", riddle: @riddle %>
  </div>
